<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>
  <Appenders>
   <File name="dockertest_log" fileName="logs/app.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="dockertest_log"/>
    </Root>
  </Loggers>
</Configuration>